# {{ ansible_managed }}
# ansibleguy.infra_haproxy

{% for name, cnf_user in HAPROXY_CONFIG.backends.items() %}
{%   set cnf = defaults_backend | combine(cnf_user, recursive=true) %}

backend {{ name }}
    mode {{ cnf.mode }}
{%   if cnf.balance | default(none, true) is not none %}
    balance {{ cnf.balance }}
{%   endif %}

{%   if cnf.mode == 'http' %}
{%     if cnf.check | bool %}
{%       if cnf.check_http | bool %}
    option httpchk
{%       endif %}
{%       if cnf.check_uri | default(none, true) is not none %}
    http-check send meth {{ cnf.check_method }} uri {{ cnf.check_uri }}
{%       endif %}
{%       if cnf.check_expect | default(none, true) is not none %}
    http-check expect {{ cnf.check_expect }}
{%       endif %}
{%     endif %}
{%     if cnf.sticky | bool %}
    cookie {{ cnf.sticky_http.cookie }} insert indirect nocache
{%     endif %}
{%     include "inc/security.j2" %}
{%   endif %}
{%   if cnf.mode == 'tcp' %}
{%     if cnf.sticky | bool %}
    stick match {{ cnf.sticky_tcp.match }}
    stick-table {{ cnf.sticky_tcp.table }}

{%     endif %}
{%   endif %}
{%   if cnf.lines | is_dict %}
{%     for section, lines in cnf.lines.items() %}
    # SECTION: {{ section }}
{%       for line in lines | ensure_list %}
    {{ line }}
{%       endfor %}

{%     endfor %}
{%   else %}
{%     for line in cnf.lines | ensure_list %}
    {{ line }}
{%     endfor %}
{%   endif %}
{%   if cnf.servers | length > 0 %}

{%     for server in cnf.servers | ensure_list %}
    server {{ server }}{% if cnf.check | bool %} check{% endif %}{% if cnf.ssl | bool %} ssl verify {{ cnf.ssl_verify }}{% endif %}{% if cnf.mode == 'http' and cnf.sticky | bool %} cookie {{ cnf.sticky_http.cookie }}{{ loop.index }}{% endif +%}
{%     endfor %}
{%   endif %}
{% endfor %}

{% if HAPROXY_CONFIG.acme.enable | bool %}
backend be_haproxy_acme
    server haproxy_acme 127.0.0.1:{{ HAPROXY_CONFIG.acme.challenge_port }} check
{% endif %}

{% if HAPROXY_CONFIG.geoip.enable | bool %}
backend be_haproxy_geoip
    server haproxy_geoip 127.0.0.1:{{ HAPROXY_CONFIG.geoip.lookup_port }} check
{% endif %}
