# {{ ansible_managed }}
# ansibleguy.infra_haproxy

{% if HAPROXY_CONFIG.stats.enable | bool %}
frontend stats
    mode http
    bind {{ HAPROXY_CONFIG.stats.bind }}
    stats enable
    stats uri /stats
    stats refresh {{ HAPROXY_CONFIG.stats.refresh }}
    stats realm {{ HAPROXY_CONFIG.stats.realm | replace(' ', '\ ') }}

    redirect code 301 location /stats if { path -i / }

{%   if HAPROXY_CONFIG.stats.admin | bool %}
    stats admin{% if HAPROXY_CONFIG.stats.admin_if | default(none, true) is not none %} if {{ HAPROXY_CONFIG.stats.admin_if }}{% endif %}
{%   endif %}

{%   if HAPROXY_CONFIG.stats.pwd | default(none, true) is not none %}
    stats auth {{ HAPROXY_CONFIG.stats.user }}:{{ HAPROXY_CONFIG.stats.pwd }}
{%   endif %}

{% endif %}
