# {{ ansible_managed }}
# ansibleguy.infra_haproxy

global
    daemon
    user {{ HAPROXY_HC.user }}
    group {{ HAPROXY_HC.group }}

{% if HAPROXY_CONFIG.geoip.enable | bool %}
    lua-load {{ HAPROXY_HC.path.lua }}/geoip.lua
{% endif %}
{% if HAPROXY_CONFIG.frontends | ssl_fingerprint_active %}
    lua-load {{ HAPROXY_HC.path.lua }}/ja3n.lua
{%   if 'tune.ssl.capture-buffer-size' not in HAPROXY_CONFIG.global %}
    tune.ssl.capture-buffer-size 96
{%   endif %}
{% endif %}

{% for key, value in HAPROXY_CONFIG.global.items() %}
{%   if value | default(none, true) is none %}
{%   elif value | is_string %}
    {{ key }} {{ value }}
{%   else %}
{%     for value_entry in value | ensure_list %}
    {{ key }} {{ value_entry }}
{%     endfor %}
{%   endif %}
{% endfor %}

defaults
{% for key, value in HAPROXY_CONFIG.defaults.items() %}
{%   if value | default(none, true) is none %}
{%   elif value | is_string %}
    {{ key }} {{ value }}
{%   else %}
{%     for value_entry in value | ensure_list %}
    {{ key }} {{ value_entry }}
{%     endfor %}
{%   endif %}
{% endfor %}

{% if HAPROXY_CONFIG.root_lines | length > 0 %}
{%   for line in HAPROXY_CONFIG.root_lines %}
{{ line }}
{%   endfor %}
{% endif %}
