
    # GEOIP
    acl private_nets src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.0/8 ::1
{% if cnf.mode == 'tcp' %}
{%   set prefix = 'tcp-request content' %}
    tcp-request inspect-delay 500ms
{% else %}
{%   set prefix = 'http-request' %}
{% endif %}

{% if cnf.geoip.country | bool %}
    ## GEOIP COUNTRY
    {{ prefix }} set-var(txn.geoip_country) str(0) if private_nets
{%   if cnf.mode == 'http' %}
    acl geoip_country_in_map src,ipmask(24,48),map_ip({{ HAPROXY_HC.path.map_geoip_country }}) -m found
    {{ prefix }} set-var(txn.geoip_country) src,ipmask(24,48),map({{ HAPROXY_HC.path.map_geoip_country }}) if !private_nets geoip_country_in_map
{%   endif %}
    {{ prefix }} lua.lookup_geoip_country if !{ var(txn.geoip_country) -m found }
{%   if cnf.mode == 'http' %}
    {{ prefix }} set-map({{ HAPROXY_HC.path.map_geoip_country }}) %[src,ipmask(24,48)] %[var(txn.geoip_country)] if !private_nets !geoip_country_in_map
{%   endif %}
    {{ prefix }} capture var(txn.geoip_country) len 2
{% endif %}

{% if cnf.geoip.asn | bool %}
    ## GEOIP ASN
    {{ prefix }} set-var(txn.geoip_asn) int(0) if private_nets
{%   if cnf.mode == 'http' %}
    acl geoip_asn_in_map src,ipmask(24,48),map_ip({{ HAPROXY_HC.path.map_geoip_asn }}) -m found
    {{ prefix }} set-var(txn.geoip_asn) src,ipmask(24,48),map({{ HAPROXY_HC.path.map_geoip_asn }}) if !private_nets geoip_asn_in_map
{%   endif %}
    {{ prefix }} lua.lookup_geoip_asn if !{ var(txn.geoip_asn) -m found }
{%   if cnf.mode == 'http' %}
    {{ prefix }} set-map({{ HAPROXY_HC.path.map_geoip_asn }}) %[src,ipmask(24,48)] %[var(txn.geoip_asn)] if !private_nets !geoip_asn_in_map
{%   endif %}
    {{ prefix }} capture var(txn.geoip_asn) len 10
{% endif %}

{% if cnf.geoip.as_name | bool %}
    ## GEOIP ASN-NAME
    {{ prefix }} set-var(txn.geoip_as_name) str(0) if private_nets
{%   if cnf.mode == 'http' %}
    acl geoip_as_name_in_map src,ipmask(24,48),map_ip({{ HAPROXY_HC.path.map_geoip_as_name }}) -m found
    {{ prefix }} set-var(txn.geoip_as_name) src,ipmask(24,48),map({{ HAPROXY_HC.path.map_geoip_as_name }}) if !private_nets geoip_as_name_in_map
{%   endif %}
    {{ prefix }} lua.lookup_geoip_as_name if !{ var(txn.geoip_as_name) -m found }
{%   if cnf.mode == 'http' %}
    {{ prefix }} set-map({{ HAPROXY_HC.path.map_geoip_as_name }}) %[src,ipmask(24,48)] %[var(txn.geoip_as_name)] if !private_nets !geoip_as_name_in_map
{%   endif %}
    {{ prefix }} capture var(txn.geoip_as_name) len 50
{% endif %}
